.home_container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 64px;
    padding-inline: 50px;
    line-height: 64px;
    background: #1976D2;
}
.user{
    display: flex;
    align-items: center;
}
.header_title{
    color: white;
    font-size: 25px;
}
.header_username{
    color: white;
}
.btn_logout{
    height: 32px;
    margin-left: 20px;
}
.content{
    display: flex;
    height: 100%;
}
.menu{
    width: 300px;
    background: #001529;
    
}